# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
myenv/
venv/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Data files
*.csv
*.xlsx

# OS files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/

# Logs
*.log